pkg/notifications/smtp.go     @sidneyojr
pkg/notifications/email.go    @sidneyojr
pkg/notifications/shoutrrr.go @sidneyojr
pkg/container/*               @sidneyojr
pkg/api/*                     @sidneyojr
.devbots/*                    @sidneyojr
.github/*                     @sidneyojr
docs/*                        @sidneyojr